<section class="about" id="about">
  <div class="about-container">
    
    <h2 class="section-title">Why me</h2>
    
    <div class="about-content">
      
      <!-- Sol Taraf - Location -->
      <div class="about-left">
        <div class="location">
          <img src="icons/location.svg" alt="Location" class="location-icon">
          <p class="location-text"><span class="highlight">I am </span>located in Köln... |</p>
        </div>
      </div>
      
      <!-- Sağ Taraf - Text + Button -->
      <div class="about-right">
        <p class="about-description">
          Why are you passionate about coding?<br>
          You can include some key traits like: analytical thinking, creativity, 
          persistence and collaboration. A problem-solving mindset is always nice to have.
        </p>
        <a href="#contact" class="cta-button">Let's talk</a>
      </div>
      
    </div>
  </div>
</section>