<header class="header" [class.scrolled]="isScrolled">
  <div class="container">
    <!-- Logo -->
    <div class="logo">
        <a href="#home">
            <img src="/logo/logo-dark.png" alt="RK Logo">
                <span class="logo-name">Refiye Külhanbey</span>
                <span class="logo-text">developer</span>    
        </a>
    </div>

    <!-- Navigation -->
    <nav class="nav">
      <ul class="nav-list">
        <li><a href="#about">Why me</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>

      <!-- DİL DEĞİŞTİRME -->
  <div class="language-switcher">
    <a href="#" class="lang-link" [class.active]="currentLang === 'de'" (click)="switchLanguage('de'); $event.preventDefault()">DE</a>
  
  <span class="separator">|</span>

  <a href="#" class="lang-link" [class.active]="currentLang === 'en'" (click)="switchLanguage('en'); $event.preventDefault()">EN</a>
  </div>
  </div>
</header>