@use '../../../styles.scss' as *;

.header {
  background-color: $accent-color;
  padding: 1rem 0;
  position: absolute;          
  bottom: 0;                   
  left: 0;
  right: 0;
  z-index: 9999;
  will-change: transform;

  &.scrolled {
    position: fixed;            // Wird sticky
    top: 0;                     // Oben fixiert
    bottom: auto;
  }

  .container {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 $spacing-md;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.3rem;
      text-decoration: none;
    }

    img {
      height: 60px;
      transition: transform $transition-speed ease;
    }

    .logo-name {
      font-family: $font-heading;
      font-size: $font-size-sm;
      color: $text-white;
      font-weight: 400;
    }

    .logo-text {
      font-family: $font-primary;
      font-size: 0.75rem;
      color: $text-white;
      font-weight: 400;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  .nav-list {
    display: flex;
    gap: $spacing-md;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      color: $primary-color;
      text-decoration: none;
      font-size: $font-size-base;
      transition: color $transition-speed ease;
      position: relative;

      &:hover {
        color: $text-white;
      }
    }
  }
}