@use '../../../styles.scss' as *;

.header {
  background-color: $accent-color; 
  padding: 1rem 0;
  position: fixed;
  bottom: 0;                     
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all 0.3s ease;         // Smooth geçiş

  &.scrolled {
    top: 0;                          // Scroll yapınca YUKARI
    bottom: auto;
  }

  .container {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 $spacing-md;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    a {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      text-decoration: none;
    }
    img {
      height: 80px;
      transition: transform $transition-speed ease;
    }

    .logo-text {
        font-family: $font-primary;
        font-size: 1.2rem;
        color: $primary-color;
        font-weight: 400;
    }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  .nav-list {
    display: flex;
    gap: $spacing-md;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      color: $primary-color; 
      text-decoration: none;
      font-size: $font-size-base;
      transition: color $transition-speed ease;
      position: relative;

      &:hover {
        color: $text-white;
      }
    }
  }
