/* Font Imports */
@font-face {
  font-family: 'Anta';
  src: url('/fonts/Anta-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans-Italic-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}


/* SCSS Variables - Farben und Schriften */       
$background-color: #262E34;
$primary-color: #89BCD9;        
$secondary-color-white: #F8F5EC;           
$inactive-grey: #262E341F; //12%          
$error-color: #E44C36;
$done-color: #97E163;     

// Schriften
$font-primary: 'Josefin Sans', sans-serif;
$font-heading: 'Anta', sans-serif;

// Schriftgrößen
$font-size-xxl: clamp(3rem, 5vw, 5rem);          // 48px - 80px arası
$font-size-xl: clamp(2.5rem, 4vw, 3.5rem);       // 40px - 56px arası
$font-size-project-title: clamp(1.8rem, 2.5vw, 2.063rem);  //(29px - 33px)
$font-size-project-heading: clamp(1.5rem, 2vw, 1.75rem);   //(24px - 28px)
$font-size-lg: clamp(1.4rem, 2vw, 1.8rem);       // 22px - 29px arası
$font-size-md: clamp(1rem, 1.5vw, 1.2rem);       // 16px - 19px arası
$font-size-base: 1rem;                            // 16px (sabit)
$font-size-sm: clamp(0.85rem, 1vw, 0.9rem);      // 14px - 14.4px arası

// Abstände
$spacing-xs: clamp(0.4rem, 0.5vw, 0.5rem);
$spacing-sm: clamp(0.8rem, 1vw, 1rem);
$spacing-md: clamp(1.5rem, 2vw, 2rem);
$spacing-lg: clamp(2.5rem, 3vw, 3rem);
$spacing-xl: clamp(3.5rem, 4vw, 4rem);

// Container
$container-max-width: min(1440px, 90vw);

// Header Heights
$header-height-desktop: 100px;
$header-height-mobile: 80px;
$hero-mobile-offset: 270px;


$mobile-circle-size: calc(100vw - 40px);
$mobile-circle-max: 500px;
$mobile-circle-margin-top: 10px;


$mobile-circle-size-sm: calc(100vw - 40px);
$mobile-circle-max-sm: 350px;
$mobile-circle-margin-top-sm: 10px;


// Transitions
$transition-speed: 0.3s;

/* Global Styles - Alle Elemente */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: $font-primary;
  background-color: $background-color;
  color: $secondary-color-white;
}