@use '../../../styles.scss' as *;

.hero {
  position: relative;           
  min-height: 100vh;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-md;
  overflow: visible;

  .hero-container {
    max-width: $container-max-width;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 $spacing-md;
  }

  // Sol taraf - Profil Fotoğrafı ve Shape
  .hero-image {
    position: relative;
    flex: 1;
    min-height: 650px;
    

    .background-shape {
      position: absolute;
      top: 30%;
      left: 2%;
      transform: translate(-6%, -15%);
      width: min(600px, 80vw);
      height: min(600px, 80vw);
      z-index: 1;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: opacity 0.9s ease;
      }

      .shape-default {
        opacity: 1;
        transform: rotate(-45deg);
      }

      .shape-hover {
        opacity: 0;
        transform: rotate(-45deg);
      }
    }

    &:hover {
      .background-shape {
        .shape-default {
          opacity: 0;
        }

        .shape-hover {
          opacity: 1;
        }
      }
    }

    .image-circle {
        position: absolute;
        top: -50px;
        left: -50px;
        transform: translate(-2%, -12%);
        width: min(850px, 100vw);
        height: min(850px, 100vw);
        z-index: 10;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  // Sağ taraf - İsim ve Bilgiler
  .hero-content {
    color: $text-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -200px;
    
    
    .hero-logo {
        margin: 0;
    img {
        height: 250px;
        }
    }


    .hero-text {
      margin-bottom: $spacing-lg;

      .hero-name {
        font-family: $font-heading;
        font-size: $font-size-xxl;
        font-weight: 400;
        margin: 0;
        color: $text-white;
        margin-top: -50px;
      }

      .hero-title {
        font-family: $font-primary;
        font-size: $font-size-lg;
        font-weight: 400;
        margin: $spacing-xs 0 0 0;
        color: $text-white;
        letter-spacing: 0.2rem;
      }
    }

   

    .scroll-down {
      margin-top: $spacing-md;
      position: relative;
      width: 75px;
      height: 75px;
      cursor: pointer;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 130%;
        transition: opacity $transition-speed ease;
      }

      .arrow-default {
        opacity: 1;
      }

      .arrow-hover {
        opacity: 0;
      }

      &:hover {
        .arrow-default {
          opacity: 0;
        }

        .arrow-hover {
          opacity: 1;
        }
      }
    }
  }
}


.vertical-socials {
  position: fixed;
  right: 40px;
  top: 25%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  z-index: 100;

  .social-link {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform $transition-speed ease;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: opacity $transition-speed ease;
    }

    .icon-default {
      opacity: 1;
    }

    .icon-hover {
      opacity: 0;
    }

    &:hover {
      .icon-default {
        opacity: 0;
      }

      .icon-hover {
        opacity: 1;
      }
    }
  }

}