<footer class="footer">
  <div class="footer-content">
    
    <div class="footer-left">
      <a routerLink="/legal-notice" class="legal-link">{{ translationService.t('footer.legalNotice') }}</a>
      <p class="copyright">© Refiye Külhanbey 2025</p>
    </div>

    <div class="footer-center">
      <div class="footer-logo">
        <img src="/logo/logo-dark.png" alt="RK Logo">
        <div class="logo-info">
          <span class="logo-name">Refiye Külhanbey</span>
          <span class="logo-text">{{ translationService.t('footer.developer') }}</span>    
        </div>
      </div>
    </div>

    <div class="footer-right">
      <div class="social-icons">
        <a href="https://github.com/RefiyeK" target="_blank" aria-label="GitHub">
          <img src="icons/github-dark.svg" alt="GitHub" class="icon-default">
          <img src="icons/github-white.svg" alt="GitHub" class="icon-hover">
          <img src="icons/github-mobile.svg" alt="GitHub" class="icon-mobile">
        </a>
        <a href="mailto:rkulhanbey@hotmail.com" aria-label="Email">
          <img src="icons/email-dark.svg" alt="Email" class="icon-default">
          <img src="icons/email-white.svg" alt="Email" class="icon-hover">
          <img src="icons/email-mobile.svg" alt="Email" class="icon-mobile">
        </a>
        <a href="https://linkedin.com/in/refiye-külhanbey" target="_blank" aria-label="LinkedIn">
          <img src="icons/linkedin-dark.svg" alt="LinkedIn" class="icon-default">
          <img src="icons/linkedin-white.svg" alt="LinkedIn" class="icon-hover">
          <img src="icons/linkedin-mobile.svg" alt="LinkedIn" class="icon-mobile">
        </a>
      </div>
    </div>

  </div> 
</footer>